nav>ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}
.mainTitle{
    display: flex;
    justify-content: center;
}
body{
    background-color: #59b187;
}
.mainContent{
    display: flex;
    justify-content: space-around;

}
footer{
    display: flex;
    justify-content: space-around;
}
*{
    margin: 0px;
}
.albums-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}