.banner{
    background-color: #ed8023;
    display: flex;
    justify-content: center;
}
.topLine{
    background-color: #40403f;
    height: .25em;
    border: 0px;
}
.bottomLine{
    background-color: #40403f;
    height: .25em; 
    border: 0px;

}
footer{
    background-color: #ed8023;
    height: 3em;
    display: flex;
    align-items: center;
 

}
.footer-line{
    background-color: #40403f;
    height: .25em;
    border: 0px;
    margin-top: 1em;
}
a:link{
    list-style-type: none;
    color: #40403f;
}
a:visited{
    color: #40403f;
}
.nav-bar-about-btn:hover, .nav-bar-home-btn:hover, .album-img:hover, .song-list:hover, .back-navigation:hover{
cursor: pointer;
transform: scale(1.1);
}
